@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Code", "Poppins";
    box-sizing: border-box;
}

:root {
    --bg-color: #020618;
    --font-color: #ffffff;
    --hero-color: #0F172B;
    --border: #314158;

    /* colors */
    --purple: #615FFF;
    --green: #00D5BE;
    --red: #FFA1AD;
    --comment: #90A1B9;
    --svg: #62748e;
}

.body {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    position: relative;
}


.hero {
    width: 95%;
    height: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--hero-color);
    border: 1px solid var(--border);
    border-radius: 9px;
    position: relative;
}


/* header section */
nav {
    width: calc(100% - 1px);
    height: 53px;
    background-color: var(--hero-color);
    border-bottom: 1px solid var(--border);
    border-radius: 9px 9px 0 0;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 32%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 15px;
    /* border-right: 1px solid var(--border); */
    color: var(--comment);
    font-size: 22px;
    cursor: pointer;
    position: relative;
}

.logo:hover {
    color: var(--font-color);
}

.nav-right {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.r-left {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.r-left div:hover {
    color: var(--green);
}

.hello {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: var(--comment);
    border-right: 1px solid var(--border);
    cursor: pointer;
}

.hello>div {
    padding: 0 21px;
}

.r-right {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    color: #00D5BE;
}

.contact {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: var(--comment);
    border-left: 1px solid var(--border);
    cursor: pointer;
    padding: 0 20px;
}

.r-right .contact:hover,
.contact a:hover {
    color: var(--green);
}

/* Container */
.container {
    width: calc(100% - 1px);
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 54.8px 0;
}

/* intro Section */

.me {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: normal;
    flex-direction: column;
    overflow: hidden;
    color: var(--comment);
    /* padding-left: 15%; */
}

.me-home {
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.name {
    font-size: 80px;
    font-weight: bold;
    color: var(--font-color);
}

.Intro {
    color: var(--comment);
}

.role {
    color: var(--purple);
    font-size: 32px;
    padding-bottom: 52px;
}

.github>:nth-child(1) {
    color: var(--green);
}

.github>:nth-child(2) {
    color: var(--red);
}

.github a {
    color: var(--purple);
}

/* about section */

/* Side bar  */

.side {
    width: calc(31.8% + 25px);
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    position: relative;
}

.folder {
    width: 63px;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 17px;
    border-right: 1px solid var(--border);
}

.folder .personal {
    padding-top: 18px;
}

.file {
    width: 100%;
    height: 100%;
}

.file-side {
    width: 100%;
    height: fit-content;
    position: relative;
}

.about-side {
    position: relative;
}

.about {
    width: 100%;
    height: 40px;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}

.about-1 {
    max-width: 100%;
    color: var(--font-color);
    padding-left: 10px;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    cursor: pointer;
}

.edu {
    color: var(--comment);
    font-size: 16px;
    padding: 8px 0;
}

.edu-1 {
    max-width: 100%;
    height: fit-content;
    color: var(--comment);
    font-size: 16px;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 5px 10px;
    cursor: pointer;
}

.edu-1:hover {
    color: var(--green);
}

.me-about {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.see p {
    padding-left: 5%;
    padding-right: 2.5%;
    word-wrap: break-word;
    word-break: break-word;
}

.mail {
    align-items: center;
    justify-content: flex-start;
    gap: 11px;
    flex-direction: column;
    padding: 11px 4px 0 0;
}

.mail-1 {
    width: 100%;
    height: fit-content;
    color: var(--comment);
    font-size: 13px;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-left: 2.5%;
    word-break: break-all;
}

/* footer section */

footer {
    width: calc(100% - 1px);
    height: 53px;
    background-color: var(--hero-color);
    border-top: 1px solid var(--border);
    border-radius: 9px 9px 0 0;
    position: absolute;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: flex-start;
}

.foot-right {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
}

.foot-1 {
    max-width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 21px;
    height: 100%;
}


/* project section */

.lang-name {
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 5px 13px;
}

.post {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: normal;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;
    flex-wrap: wrap;
    overflow-y: auto;
    color: var(--comment);
    padding: 15px 17px 15px 24px;
}

.box {
    width: 32%;
    height: 373px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 6px;
    color: var(--comment);
    overflow: hidden;
    padding: 0 15px;
    transition: all 2s ease;
}

.box:hover {
    scale: 0.95;
}

.head {
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.heading :first-child {
    color: var(--purple);
}

.tile {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 353px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    border-radius: 6px;
    background-color: var(--bg-color);
}

.tile .mid {
    width: 100%;
    height: 200px;
}

.tile .mid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.tile .last {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    color: var(--comment);
    font-size: 12px;
    padding: 0 24px;
    word-wrap: break-word;
}

.btn {
    padding: 7px 10px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color);
    background-color: var(--border);
    cursor: pointer;
}